{% extends "base.html" %}

{% block titulo %} Nosotros {% endblock %}

{% block contenido %} 

Hola querido issac aprovecho esta parte del crud para expresarme y contarte lo desesperante y horrible que fue hacer este crud, por mucho rato me cuestione si me equivoque de carrera y aun no se si es asi,
asi que en este apartado dejo en claro que cualquier cosa que me pase,como un atentado en contra de mi propia vida es culpa de issac, a pesar de 7 intentos de suicidio y 23 crisis existenciales LO LOGRE NOJODA BILL GATES ME LO MOCHA

{% endblock %}

